$primary: #5972D9;
$text: #14171A;
$danger: #CD4139;
$white: #FFFFFF;
$success: #62BD7A;
$grey: #F3F3FB;
$darkGrey: #585C61;
$dark: #161719;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size:16px;
}
.text-center{
  text-align: center;
}